<a href="https://colab.research.google.com/github/divyansh351/ML-Bootcamp-WOC/blob/main/LinearRegressionNormalModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Linear Regression**
Normal method

### *Importing necessary libraries*

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
from google.colab import drive

### Google Drive mount for reading data

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/cyberlabs/linear_data
train_path = '/content/drive/MyDrive/cyberlabs/linear_data/Linear_train.csv'
test_path = '/content/drive/MyDrive/cyberlabs/linear_data/Linear_test.csv'
df_train = pd.read_csv(train_path)
df_test = pd.read_csv(test_path)

/content/drive/MyDrive/cyberlabs/linear_data

In [ ]:
df_train.head()

,Unnamed: 0,A,B,C,D,E,F,G,H,I,...,L,M,N,O,P,Q,R,S,T,label
0,0,-9.989516,1564.957586,8.199060,32.508797,19.464400,1644.524093,26.100966,34.731954,4378.575414,...,770.535311,30.060441,-25.002361,11.892468,-34.329383,37.218423,-4.440530,29.075092,29.107896,311.232491
1,1,-17.591800,1559.053039,12.302737,-36.351098,6.256406,1640.834263,12.954212,-43.333128,4833.766813,...,997.260070,-1.329145,16.022086,42.972484,-7.372877,45.550946,37.576551,12.926551,-32.565844,6393.112342
2,2,-28.321695,1305.900952,-35.681049,-9.039358,-45.519426,2039.003363,-0.154348,18.107957,4162.395297,...,616.059291,-6.997085,27.846844,26.511376,19.323152,-35.807513,-5.913019,15.046779,-34.332357,2601.046223
3,3,-40.471241,1612.746996,-28.980454,2.137719,-34.767491,2757.469393,23.857472,-48.434183,4340.953927,...,715.537625,-12.441561,47.883435,36.994884,30.783992,22.162383,16.465836,41.435425,33.561233,13572.118106
4,4,-36.525271,1852.275617,-32.744347,-1.439526,-14.061837,2138.422485,44.061988,33.336936,4099.453685,...,629.221442,10.992360,-47.143335,-8.296962,-8.086565,39.169726,-49.540056,-32.518653,-36.320202,-5462.446898

**Pre-processing the training dataset**

In [ ]:
df_train.shape

(50000, 22)

In [ ]:
initial_features = df_train.drop(df_train.columns[[0, 21]], axis=1)
bias_feature = np.ones((50000,1), dtype=int)
fin_features = np.append(bias_feature, initial_features, axis=1)
fin_features.shape

(50000, 21)

## Getting the weights of features by Normal method

In [ ]:
x = fin_features
xT = np.transpose(x)
xT_x = np.dot(xT, x)
xT_xInv = np.linalg.pinv(xT_x)
tmp = np.dot(xT_xInv, xT)
thetaArr = np.dot(tmp, df_train["label"])
thetaArr

array([  0.41798009,  12.97514207,   0.19986194, -27.01640538,
         8.00839953,  37.01706628,   0.15057057,  18.99806047,
       -28.98788571,   0.12003303,  22.99241979,  31.00883313,
         0.59855499, -90.99824953,  34.00876787,  44.97847335,
        51.01549757,  24.00743911,  -1.00974707,  94.96623968,
        25.00788367])

**Pre-processing the test dataset**

In [ ]:
df_test.shape

(10000, 22)

In [ ]:
initial_featuresTest = df_test.drop(df_test.columns[[0, 21]], axis=1)
bias_featureTest = np.ones((10000,1), dtype=int)
fin_featuresTest = np.append(bias_featureTest, initial_featuresTest, axis=1)
fin_featuresTest.shape

(10000, 21)

In [ ]:
predictedLabels = np.dot(fin_featuresTest, thetaArr)
predictedLabels

array([ -161.95570334,  6482.49411349,  2397.24820136, ...,
       -1402.9354843 ,  1976.02602503, -6119.77479909])

In [ ]:
requiredLabels = df_test["label"]

### Calculating the percentage accuracy

In [ ]:
requiredLabels

0        -163.522723
1        6484.664510
2        2393.818082
3       -9397.072355
4       10487.323575
            ...
9995    -7526.092452
9996     6133.716734
9997    -1404.204034
9998     1972.371711
9999    -6120.248772
Name: label, Length: 10000, dtype: float64

In [ ]:
df = pd.DataFrame({'Actual': requiredLabels, 'Predicted': predictedLabels})
df

            Actual     Predicted
0      -163.522723   -161.955703
1      6484.664510   6482.494113
2      2393.818082   2397.248201
3     -9397.072355  -9397.694692
4     10487.323575  10485.045125
...            ...           ...
9995  -7526.092452  -7525.563083
9996   6133.716734   6132.757332
9997  -1404.204034  -1402.935484
9998   1972.371711   1976.026025
9999  -6120.248772  -6119.774799

[10000 rows x 2 columns]

In [ ]:
mean_absolute_errorA = sum(abs(requiredLabels - predictedLabels))/10000
mean_squared_errorA = sum(pow((requiredLabels - predictedLabels), 2))/10000
root_mean_squared_errorA = pow((sum(pow((requiredLabels - predictedLabels), 2))/10000), 0.5)
print('Mean Absolute Error:', mean_absolute_errorA)
print('Mean Squared Error:', mean_squared_errorA)
print('Root Mean Squared Error:', root_mean_squared_errorA)

Mean Absolute Error: 1.4715549066535412
Mean Squared Error: 3.344098126270502
Root Mean Squared Error: 1.8286875420012305